DB_HOST = ep-lively-shape-a9i8oifu-pooler.gwc.azure.neon.tech
DB_PORT = 5432
DB_NAME = neondb
DB_USER = neondb_owner
DB_PASSWORD = npg_ZBsfu8gIUQ2M
DB_SSL = true

JWT_ACCESS_SECRET=9394fee4b7d165ede65e49f7128b22a0bb6e8b22a21c49cb19fb047181840080
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=e1bfa7513dfb90dbbbec80aa62a5f30e6d24b5e9b128b1e5b2f79f48836c3ff4
JWT_REFRESH_EXPIRES_IN=7d