# Application
PORT=3000
NODE_ENV=development

# Sécurité
PORT=3000
JWT_ACCESS_SECRET=task_manager_access_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=task_manager_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:9090,http://localhost:8080,http://localhost:5432

# Base de Données
POSTGRES_USER=ton_user
POSTGRES_PASSWORD=ton_password
POSTGRES_DB=itnum_db
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_SSL=false

# Monitoring
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin